<h2>All Wines in Your Cellar</h2>

<% @uw.each do |uw| %>
<h4><%= uw.wine.vintage %> <%= uw.wine.varietal %>,  <%= uw.wine.producer %> </h4> 
<p><%="Notes: #{uw.notes}" if uw.notes %> <a href='/user_wines/<%=uw.id%>/edit'>Edit Notes</a></p>


    <% end %>

